* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* below class apply on rating favIcon */
.gold {
    color: #FFD700;
}

#container {
    padding: 15px;
}

#header {
    text-align: center;
    margin: 15px 0px;
}

/*catagory buttons and it's div style */
.catergoriesDiv {
    text-align: center;
    margin: 15px 0;
}

button.categoryBtn {
    margin: 10px;
    padding: 10px;
    border: none;
    color: grey;
    background-color: white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    transition: all 0.2s ease-in-out;
}

button.categoryBtn::after {
    content: "";
    height: 2px;
    width: 0%;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #555;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

button.categoryBtn:hover {
    color: #555;
    font-weight: bolder;
}

button.categoryBtn:hover::after {
    width: 100%;
}

/* below class are applied on category buttons after onclick event */
.active-btn {
    color: black !important;
    font-size: 20px;
}

.active-btn::after {
    width: 100% !important;
}

/*--------- sort by */
.sortByDiv {
    margin: 15px 0px;
    text-align: right;
}

.selectionTitle {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 10px;
}

.select {
    margin: 10px;
    border: none;
    color: grey;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
}

/* items container*/
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px 0px;
}

/* item and it's elements */
.item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin: 10px;
    width: 30%;
    transition: all 0.3s ease;
}

.item:hover {
    scale: 1.05;
}

.itemImage {
    text-align: center;
    width: 100%;
    position: relative;
}

.itemImage img {
    width: 100%;
    height: 275px;
}

.itemImage span.discountPercentage {
    background-color: #258f25;
    padding: 10px;
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
}

.itemInfo p {
    padding: 10px 0px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.price {
    color: red;
}

.itemButtonsDiv {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ATCBtn,
.infoBtn {
    padding: 10px;
    background-color: 4bc74b;
    background-color: #258f25;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.ATCBtn:hover,
.infoBtn:hover {
    opacity: 1;
}

/* <p> with below classes in products are hidden for now  */
.descriptionP {
    display: none;
}

.stockP {
    display: none;
}

.brandP {
    display: none;
}

.categoryP {
    display: none;
}

/* infodiv */
#infoDiv {
    display: none;
    width: 40%;
    background-color: white;
    position: fixed;
    top: 5%;
    left: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 2s linear;
}

.imageInfoDiv {
    width: 100%;
    height: 275px;
    padding: 10px;
    position: relative;
}

#closeInfoBtn {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: 20px;
    border: none;
}

.imageInfoDiv img {
    width: 100%;
    height: 275px;
}

.fullInfo {
    margin: 10px;
}

.fullInfo p {
    padding: 5px;
}

/* responsive */
@media screen and (max-width: 992px) {
    .item {
        margin: 10px;
        width: 45%;
    }

    #infoDiv {
        width: 50%;
        top: 5%;
        left: 25%;
    }
}

@media screen and (max-width: 768px) {
    .item {
        margin: 10px;
        width: 80%;
    }

    #infoDiv {
        width: 70%;
        top: 5%;
        left: 15%;
    }
}